@media screen and (max-width: 500px){

     header        { height: 10vh; width: 100vw; }
     main          { height: 65vh; width: 100vw; }
    .workSixBlockF { height: 15vh; width: 100vw; }
    .colonSize     { height: 14vh; width: 30vw;  }
    .blockB        { height: 45vh; width: 100vw; }
    .workSixBlock  { height: 70vh; width: 100vw; }
    .workSixFlex   { height: 17vh; width: 100vw; }

    .workSixFlex, #blockMainB, .workSixBlock, .blockB, .colonSize, .workSixBlockF, main { display: flex; }
    .workSixBlock, main { flex-direction: column; }

    .CenterAndColor { border-radius: 20px; }












}